extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Перелік сторінок
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="index.html" target="_blank") Головна
              li
                a.text-success(href="map2.html" target="_blank") Карта 2
              li
                a.text-success(href="map3.html" target="_blank") Карта 3
              li
                a.text-success(href="about.html" target="_blank") Про нас
              li
                a.text-success(href="login.html" target="_blank") Логін
              li
                a.text-success(href="registration.html" target="_blank") Реєстрація
              li
                a.text-success(href="check.html" target="_blank") Перевірка виконання
              li
                a.text-success(href="check-err.html" target="_blank") Перевірка виконання - не знайденно
              li
                a.text-success(href="contacts.html" target="_blank") Контакты
              li
                a.text-success(href="form-appeal.html" target="_blank") Форма звернення
              li
                a.text-success(href="appeal.html" target="_blank") Звернення
              li
                a.text-success(href="object.html" target="_blank") Паспорт об’єкта
              li
                a.text-success(href="monitoring.html" target="_blank") Моніторінг стану повітря
              li
                a.text-success(href="monitoring2.html" target="_blank") Характеристика поверхневих вод
              li
                a.text-success(href="map-air.html" target="_blank") Карта газів
              li
                a.text-success(href="ui.html" target="_blank") UI

  .page__buffer
