extends _template.pug

include ../components/b-main-search/b-main-search
include ../components/b-card/b-card

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Перевірка виконання')

block content
  main.l-main-content
    section.section-area.mb-xl-5.pb-5
      .container
        h1.ui-title-page Перевірка виконання
        +b-main-search()


      section.section-default
        .container
          h2.ui-title В роботі

        .container
          .b-card-group.row.md_hidden_4-col
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/1', '17.09.18 зафіксовано факт вивезення будівельного сміття автомобілем')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/2', 'Звалище сміття')

      // end .section-default
      |
      |


      section.section-default.d-none.d-lg-block
        .container
          h2.ui-title Виконані

        .container
          .b-card-group.row.md_hidden_4-col
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/5', '17.09.18 зафіксовано факт вивезення будівельного сміття автомобілем')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/6', 'Звалище сміття')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/7', 'Накопичення сміття, не здійснюють утилізацію.')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x221/8', 'Близько десяти років ніяких заходів по очищенню від сміття не проводиться')

      // end .section-default
      |
      |

    // end .section-area
    |
    |

  // end .main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

