extends _template.pug

include ../components/b-contacts/b-contacts

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Перевірка виконання')

block content
  main.l-main-content
    +b-contacts()

  // end .main-content
  |
  |



block scripts
  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

