extends _template.pug

include ../components/b-card/b-card
include ../components/b-map/b-map
include ../components/b-areas/b-areas
include ../components/b-contacts/b-contacts
include ../components/b-welcome/b-welcome

block head
  head
    +head(head.home)
  |
  |


block header
  +header('headerMain', '', '', '', 'userLogin')

block content
  main.l-main-content

    +b-map()

    +b-welcome()

    section.section-default
      .container
        .ui-title-block.row.align-items-end.align-items-sm-start
          .col
            h2.ui-title Останні звернення
          .col-auto
            .ui-title-links
              a.ui-title-links__item(href="#") Усі останні звернення

      .container
        .b-card-group.row.md_hidden_4-col
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/1', '17.09.18 зафіксовано факт вивезення будівельного сміття автомобілем')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/2', 'Звалище сміття')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/3', 'Накопичення сміття, не здійснюють утилізацію.')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/4', 'Близько десяти років ніяких заходів по очищенню від сміття не проводиться')



    section.section-default
      .container
        .ui-title-block.row.align-items-end.align-items-sm-start
          .col
            h2.ui-title Виконані звернення
          .col-auto
            .ui-title-links
              a.ui-title-links__item(href="#") Усі виконані звернення

      .container
        .b-card-group.row.md_hidden_4-col
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/5', '17.09.18 зафіксовано факт вивезення будівельного сміття автомобілем')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/6', 'Звалище сміття')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/7', 'Накопичення сміття, не здійснюють утилізацію.')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x221/8', 'Близько десяти років ніяких заходів по очищенню від сміття не проводиться')


    .section-default.bg-gray
      .container
        .row
          .col-xl-8
            section.section-area
              h2.ui-title Заповідні зони
              .row
                .col-md-6
                  +b-areas('370x128/1', 'Національній природний парк «Святі Гори»')
                .col-md-6
                  +b-areas('370x128/2', 'Регіональний ландшафтний парк «Клебан — Бик»')
                .col-md-6
                  +b-areas('370x128/3', 'Регіональний ландшафтний парк «Краматорський»')
                .col-md-6
                  +b-areas('370x128/4', 'Національний природний парк «Меотида»')

          .col-xl-4
            section.section-contacts
              h2.ui-title  Контакти
              +b-contacts-sm()

  // end .main-content
  |
  |

block scripts

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Filter and sorting
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")
