extends _template.pug

include ../components/b-login/b-login

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Вхід до системи')

block content
  main.l-main-content
    .container
      h1.ui-title.text-center Вхід до системи
      +b-login()



  // end .main-content
  |
  |



block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

