extends _template.pug

include ../components/b-card/b-card
include ../components/b-map/b-map
include ../components/b-areas/b-areas
include ../components/b-contacts/b-contacts
include ../components/b-welcome/b-welcome

block head
  head
    +head(head.home)
  |
  |


block header
  +header('headerMain', '', '', '', 'userLogin')

block content
  main.l-main-content

    +b-map-2()

  // end .main-content
  |
  |

block scripts

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Filter and sorting
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")


  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")
