extends _template.pug

include ../components/b-monitoring/b-monitoring

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Моніторінг повітря')

block content
  main.l-main-content
    +b-monitoring-2()

  // end .main-content
  |
  |



block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")

  // Chart
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  script(src="assets/plugins/echarts/echarts-en.min.js")
