extends _template.pug

include ../components/b-main-search/b-main-search
include ../components/b-card/b-card
include ../components/b-object/b-object

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Звернення ')

block content
  main.l-main-content
    +b-object()

  // end .main-content
  |
  |




block scripts
  // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Slider
  script(src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')

  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  // File input customization
  script(src="assets/plugins/dropzone.js")
