extends _template.pug

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Реєстрація')

block content
  main.l-main-content
    .container
      .row
        .col-md-8.offset-md-2
          h1.ui-title.text-center Реєстрація
          form.ui-form.mt-5.mb-5.pb-5.needs-validation(novalidate)
            .form-group
              .ui-input
                label.ui-input__label(for="surname")
                  span.ui-input__label-content Прізвище
                input.ui-input__field.form-control#surname(type="text" required)
                .invalid-feedback Поле не заповненне
            .form-row
              .col-md-6
                .form-group
                  .ui-input
                    label.ui-input__label(for="name")
                      span.ui-input__label-content Iм'я
                    input.ui-input__field.form-control#name(type="text" required)
                    .invalid-feedback Поле не заповненне
              .col-md-6
                .form-group
                  .ui-input
                    label.ui-input__label(for="middleName")
                      span.ui-input__label-content По-батькові
                    input.ui-input__field.form-control#middleName(type="text" required)
                    .invalid-feedback Поле не заповненне
            .form-row
              .col-md-6
                .form-group
                  .ui-input
                    label.ui-input__label(for="password")
                      span.ui-input__label-content Пароль
                    input.ui-input__field.form-control#password(type="password" required)
                    .invalid-feedback Поле не заповненне
              .col-md-6
                .form-group
                  .ui-input
                    label.ui-input__label(for="repassword")
                      span.ui-input__label-content Пароль ще раз
                    input.ui-input__field.form-control#repassword(type="password" required)
                    .invalid-feedback Поле не заповненне
            .form-group
              .ui-input
                label.ui-input__label(for="email")
                  span.ui-input__label-content Пошта
                input.ui-input__field.form-control#email(type="email" required)
                .invalid-feedback Поле не заповненне
            .ui-upload.row.form-group.js-upload
              .col-md-auto.col-12
                span.btn.btn-light.js-upload-btn Виберіть фото
              .col-md.col-12
                .ui-upload__info Перетягніть сюди файли для завантаження
                .ui-upload__label Максимальний розмір файлу — 5 Мб
            .js-upload-container

            .row
              .col-12
                .form-group.custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox" required)#check1
                  label.custom-control-label(for="check1") Я погоджуюсь зі збереженням та обробкою персональних даних згідно Закону України «Про захист персональних даних» та підтверджую, що не розміщуватиму інформацію з обмеженим доступом та будь-яку іншу інформацію або дані окрім публічних", я ознайомлений(на) з правилами модерації, я ознайомлений(на) з регламентом обробки інформації.
                .form-group.custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox")#check2
                  label.custom-control-label(for="check2") Профіль доступний для перегляду користувачами
                .form-group.custom-control.custom-checkbox
                  input.custom-control-input(type="checkbox")#check3
                  label.custom-control-label(for="check3") Згоден на отримання розсилки

            .row
              .col-12.text-center
                button.btn.btn-secondary Зареєструватися


  // end .main-content
  |
  |



block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

