extends _template.pug

block head
  head
    +head(head.home)
  |
  |

block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")

block content
  main.l-main-content

    .container
      form.needs-validation(novalidate)
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckEmail(type="checkbox" checked)
            label.custom-control-label(for="appealCheckEmail") На електронну адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckPost(type="checkbox")
            label.custom-control-label(for="appealCheckPost") На поштову адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckTel(type="checkbox")
            label.custom-control-label(for="appealCheckTel") По телефону


        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio1(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio1") Toggle this custom radio
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio2(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio2") Or toggle this other custom radio

        .form-group
          .ui-input
            label.ui-input__label(for="appealName")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control.js-input#appealName(type="text" required)
            .invalid-feedback Поле не заповненне

        h2 Альтернативный инпут, без скрипта
        // добавляем .ui-input_no-js и удаляем .js-input
        .form-group
          .ui-input.ui-input_no-js
            label.ui-input__label(for="appealName2")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control#appealName2(type="text" required)
            .invalid-feedback Поле не заповненне

        .form-group
          select.selectpicker(data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select")
            option(value="") Місто
            option(value="") Місто
            option(value="") Місто

        .form-group
          .ui-input.ui-input_r-4
            label.ui-input__label(for="treatmentText")
              span.ui-input__label-content Опис
            textarea.ui-input__field.form-control.js-input#treatmentText(required)

        .form-row
          .form-group.col-md-6
            .input-group.date.bg-light.align-items-center.no-gutters
              .ui-input.col
                label.ui-input__label(for="searchMapFirstDate")
                  span.ui-input__label-content З якого періоду
                input.ui-input__field.form-control.js-input#searchMapFirstDate(type="text" autocomplete="off")
                .invalid-feedback Поле не заповненне
              span.input-group-addon.col-auto.pl-3.pr-3
                != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})


          .form-group
            .ui-upload.js-upload.row
              .col-auto
                button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Додайте фото
              .ui-upload__note.col Додайте фото.<br> Максимальний розмір файлу — 5 Мб
          .js-upload-container

        .form-group
          button.btn.btn-primary Додати

block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")


  // File input customization
  script(src="assets/plugins/dropzone.js")


  // Datepicker
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")
