mixin b-welcome()

  section.b-welcome.section-default(class!=attributes.class)
    .b-welcome__inner.container
      .row
        .col-md
          .b-welcome__main
            h2.b-welcome__title Підвищення рівня громадської<br>безпеки для жителів нашого міста
            .b-welcome__info Щиро вітаю Вас, шановні громадяни, на офіційній веб-сторінці нашого нового порталу. Сподіваюся, що Ви знайдете на порталі для себе все, що допоможе вирішити проблеми, які стосуються життєдіяльності нашого краю та отримаєте необхідну Вам інформацію.
        .col-md-auto
          .b-welcome__second
            .b-welcome__img
              img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
            span.b-welcome__name Філь Сергій Олександрович
            span.b-welcome__categorie В.О. Голови ВЦОДА
  // end .b-welcome
  |
  |
