mixin b-map()

  section.b-map
    .b-map__inner
      h2.b-map__title Інтерактивна мапа
      .b-map__select
        select.selectpicker(data-width="100%" title="Оберіть екошар даних"  data-size="6" data-max-options="1" multiple data-style="ui-select ui-select_no-arr")
          option(value="") Полігон сміттєзвалище
          option(value="") Ступінь забруднення повітря
          option(value="") Об’єкти природно-заповідного фонду
          option(value="") Басейни річок та поверхневі водні об’єкти
          option(value="") Скиди забруднюючих речовин у водні об’єкти
          option(value="") Моніторинг поверхневих водних об’єктів
          option(value="") Підприємства-забруднювачі довкілля
          option(value="") Моніторинг підземних вод
          option(value="") Зимувальні ями
          option(value="") Корисні копалини
          option(value="") Ділянки надр за спеціальним дозволом
          option(value="") Звернення громадян

    .b-map-main#map-main
    .b-map-infoblock(data-lat=52.2797021, data-lng=104.2553633, data-title="Об’єкт 1")
    .b-map-infoblock(data-lat=52.2797020, data-lng=104.2553634, data-title="Об’єкт 2")
    .b-map-infoblock(data-lat=52.2797022, data-lng=104.2553635, data-title="Об’єкт 3")
  // end .b-map
  |
  |


mixin b-map-2()

  form.b-map
    .b-map__inner
      .b-map__title Інтерактивна мапа
      .row
        .b-map__select.col-auto
          select.selectpicker(data-width="100%" title="Оберіть екошар даних"  data-size="6" data-max-options="1" multiple data-style="ui-select ui-select_no-arr")
            option(value="") Полігон сміттєзвалище
            option(value="") Ступінь забруднення повітря
            option(value="") Об’єкти природно-заповідного фонду
            option(value="") Басейни річок та поверхневі водні об’єкти
            option(value="") Скиди забруднюючих речовин у водні об’єкти
            option(value="") Моніторинг поверхневих водних об’єктів
            option(value="") Підприємства-забруднювачі довкілля
            option(value="") Моніторинг підземних вод
            option(value="") Зимувальні ями
            option(value="") Корисні копалини
            option(value="") Ділянки надр за спеціальним дозволом
            option(value="") Звернення громадян

        .col-auto
          button.b-map__btn.btn.js-map-toggle(type="button") Фільтри
            != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic ic_fix-right fill-primary', iconWidth: '18', iconHeight: '16'})

    .b-map-filter
      .b-map-filter__title Корисні копалини області
      .b-map-filter__section
        .ui-check-group
          .custom-control.custom-checkbox
            input.custom-control-input#check1(type="checkbox" )
            label.custom-control-label(for="check1") Горючі корисні копалини
          .custom-control.custom-checkbox
            input.custom-control-input#check2(type="checkbox" )
            label.custom-control-label(for="check2") Неметалічні корисні копалини
          .custom-control.custom-checkbox
            input.custom-control-input#check3(type="checkbox" )
            label.custom-control-label(for="check3") Металічні корисні копалини

      .b-map-filter__btns
        .b-map-filter__btns-wrap
          button.btn-link.js-active-checkboxes(type="button") Обрати всі
        .b-map-filter__btns-wrap
          button.btn-link(type="reset") Очистити фільтри


      button.close.js-map-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

    .b-map-main#map-main
  // end .b-map
  |
  |


mixin b-map-3()

  section.b-map
    .b-map__inner
      h2.b-map__title Інтерактивна мапа
      .row
        .b-map__select.col-auto
          select.selectpicker(data-width="100%" title="Оберіть екошар даних" data-size="6" data-max-options="1" multiple data-style="ui-select ui-select_no-arr")
            option(value="") Полігон сміттєзвалище
            option(value="") Ступінь забруднення повітря
            option(value="") Об’єкти природно-заповідного фонду
            option(value="") Басейни річок та поверхневі водні об’єкти
            option(value="") Скиди забруднюючих речовин у водні об’єкти
            option(value="") Моніторинг поверхневих водних об’єктів
            option(value="") Підприємства-забруднювачі довкілля
            option(value="") Моніторинг підземних вод
            option(value="") Зимувальні ями
            option(value="") Корисні копалини
            option(value="") Ділянки надр за спеціальним дозволом
            option(value="") Звернення громадян

        .col-auto
          button.b-map__btn.btn.js-map-toggle(type="button") Фільтри
            != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic ic_fix-right fill-primary', iconWidth: '18', iconHeight: '16'})

    .b-map-filter
      .b-map-filter__title Корисні копалини області
      .row
        .form-group.col-lg-7
          .input-group.date.bg-light.align-items-center.no-gutters
            .ui-input.col
              label.ui-input__label(for="searchMapFirstDate")
                span.ui-input__label-content З якого періоду
              input.ui-input__field.form-control.js-input#searchMapFirstDate(type="text" autocomplete="off")
              .invalid-feedback Поле не заповненне
            span.input-group-addon.col-auto.pl-3.pr-3
              != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

        .form-group.col-lg-7
          .input-group.date.bg-light.align-items-center.no-gutters
            .ui-input.col
              label.ui-input__label(for="searchMapLastDate")
                span.ui-input__label-content До якого періоду
              input.ui-input__field.form-control.js-input#searchMapLastDate(type="text" autocomplete="off")
              .invalid-feedback Поле не заповненне
            span.input-group-addon.col-auto.pl-3.pr-3
              != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

      .b-map-filter__btns
          button.btn.btn-secondary(type="button") Подивитись результат


      button.close.js-map-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

    .b-map-main#map-main
  // end .b-map
  |
  |



mixin b-map-4()

  section.b-map
    .b-map__inner
      h2.b-map__title Інтерактивна мапа
      .row
        .b-map__select.col-auto
          select.selectpicker(data-width="100%" title="Оберіть екошар даних" data-size="6" data-max-options="1" multiple data-style="ui-select ui-select_no-arr")
            option(value="") Полігон сміттєзвалище
            option(value="") Ступінь забруднення повітря
            option(value="") Об’єкти природно-заповідного фонду
            option(value="") Басейни річок та поверхневі водні об’єкти
            option(value="") Скиди забруднюючих речовин у водні об’єкти
            option(value="") Моніторинг поверхневих водних об’єктів
            option(value="") Підприємства-забруднювачі довкілля
            option(value="") Моніторинг підземних вод
            option(value="") Зимувальні ями
            option(value="") Корисні копалини
            option(value="") Ділянки надр за спеціальним дозволом
            option(value="") Звернення громадян

        .col-auto
          button.b-map__btn.btn.js-map-toggle(type="button") Фільтри
            != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic ic_fix-right fill-primary', iconWidth: '18', iconHeight: '16'})

    .b-map-filter
      .b-map-filter__title Корисні копалини області
      .row
        .form-group.col-lg-7
          .input-group.date.bg-light.align-items-center.no-gutters
            .ui-input.col
              label.ui-input__label(for="searchMapFirstDate")
                span.ui-input__label-content З якого періоду
              input.ui-input__field.form-control.js-input#searchMapFirstDate(type="text" autocomplete="off")
              .invalid-feedback Поле не заповненне
            span.input-group-addon.col-auto.pl-3.pr-3
              != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

        .form-group.col-lg-7
          .input-group.date.bg-light.align-items-center.no-gutters
            .ui-input.col
              label.ui-input__label(for="searchMapLastDate")
                span.ui-input__label-content До якого періоду
              input.ui-input__field.form-control.js-input#searchMapLastDate(type="text" autocomplete="off")
              .invalid-feedback Поле не заповненне
            span.input-group-addon.col-auto.pl-3.pr-3
              != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

      .b-map-filter__btns
          button.btn.btn-secondary(type="button") Подивитись результат


      button.close.js-map-close(type="button" aria-label="Close")
        span(aria-hidden="true") &times;

    .b-map-legend
      ul.b-map-legend__list.list-unstyled
        li.b-map-legend__item CO
        li.b-map-legend__item NO2
        li.b-map-legend__item O3
        li.b-map-legend__item PM10
        li.b-map-legend__item PM25
        li.b-map-legend__item SO2
    .b-map-legend__bar
      .row.justify-content-between
        .col-auto
          .b-map-legend__bar_number 0
        .col-auto
          .b-map-legend__bar_number 100

    .b-map-main#map-main
  // end .b-map
  |
  |


