.b-map-main {
  height: 765px;
}

.b-map {
  position: relative;
  &__select {
    width: 370px;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
  }
  &__inner {
    position: absolute;
    left: 135px;
    top: 150px;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      left: -10px;
      bottom: -10px;
      top: 0;
      right: -10px;
      background-color: rgba(232, 232, 232, .5);
      border-radius: 20px;
      filter: blur(10px);
    }
  }
  &__title {
    color: $color-main;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.037rem;
    margin-bottom: 32px;
    position: relative;
    z-index: 2;
  }
  &__btn {
    background-color: #FFF;
    text-align: left;
    padding-left: 15px;
    padding-right: 30px;
    min-width: 170px;
    position: relative;
    transition: all .3s;
    z-index: 1;
    .ic {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      &_fix-right {
        right: 10px;
      }
    }
    &:hover {
      opacity: 0.5;
    }
    &.active {
      color: #f4f7fb;
      background-color: rgba(0,0,0,.2);
      .ic {
        fill: #f4f7fb;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &__inner {
      top: 240px;
    }
  }

  @include media-breakpoint-down(md) {
    &__select {
      width: 360px;
    }
    &__inner {
      top: 70px;
      left: 0;
      padding-left: 5%;
      &:after {
        left: 0;
        right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__select {
      width: 300px;
    }
  }
}

.b-map-bubble {
  // width: 14.438rem;
  // box-shadow: 0.375rem 0.625rem 2.5rem rgba(0, 0, 0, 0.15), 0 0 0.063rem rgba(0, 0, 0, 0.2);
  line-height: 1.25rem;
  background-color: #ffffff;
  display: block;
  // border-radius: 4px;
  // padding: 12px;
  position: relative;
  &__title {
    color: #848e99;
    font-size: 0.875rem;
  }
  &__info {
    color: #3b4256;
    font-size: 0.875rem;
    font-weight: 600;
  }
  // &:after {
  //   content: '';
  //   border-right: 10px solid transparent;
  //   border-top: 10px solid #fff;
  //   border-bottom: 10px solid transparent;
  //   border-left: 10px solid transparent;
  //   position: absolute;
  //   bottom: -20px;
  //   left: calc(50% - 10px);
  // }

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }
}



.b-map-filter {
  position: absolute;
  right: 0;
  top: 0;
  width: 505px;
  min-height: 100%;
  background-color: #FFF;
  z-index: 5;
  padding: 28px 23px;
  display: none;
  box-shadow: 0 0.25rem 0.75rem rgba(95, 95, 95, 0.15);

  &__section {
    margin-top: 60px;
    margin-left: 24px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__title {
    font-size: 1.125rem;
    color: #3a4257;
    margin-bottom: 30px;
  }
  &__btns {
    margin-top: 40px;
  }
  &__btns-wrap {
    margin-bottom: 5px;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2rem;
    font-weight: 400;
  }
  .custom-control-label {
    font-weight: 600;
  }

  @include media-breakpoint-down(md) {
    width: 300px;
    &__btns {
      margin-bottom: 20px;
    }
  }
}


.b-map-legend {
  position: absolute;
  left: 135px;
  bottom: 130px;
  z-index: 1;
  &__list {
    margin-bottom: 0;
  }
  &__item {
    color: #234161;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid rgba(46, 91, 255, 0.15);
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__bar {
    position: absolute;
    left: 135px;
    bottom: 44px;
    width: 570px;
    z-index: 1;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 0.75rem;
    border: 1px solid #ffffff;
    background-image: linear-gradient(270deg, #f45f29 2%, #8ff705 100%);
  }
  &__bar_number {
    padding-left: 14px;
    padding-right: 14px;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
  }

  @include media-breakpoint-down(md) {
    left: 5%;
    right: 0;
    &__bar {
      left: 5%;
      right: 60px;
      width: auto;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 2%;
      }
    }
  }
}
