mixin b-main-search()
  form.b-main-search
    .row
      .b-main-search__select.col-md-auto.form-group
        select.selectpicker(data-width="100%" multiple data-max-options="1" data-style="ui-select")
          option За номером
          option За адресою

      .b-main-search__inner.col-md
        input.b-main-search__input(type="search" placeholder="Почніть вводити номер")
        button.b-main-search__btn.btn.btn-secondary Перевірити
  // end .b-main-search
  |
  |


mixin b-main-search_err()
  form.b-main-search
    .row
      .b-main-search__select.col-md-auto.form-group
        select.selectpicker(data-width="100%" multiple data-max-options="1" data-style="ui-select")
          option За номером
          option За адресою

      .b-main-search__inner.col-md
        input.b-main-search__input(type="search" placeholder="Почніть вводити номер")
        button.b-main-search__btn.btn.btn-secondary Перевірити

  .b-main-search__result Нажаль, нічого не знайдено. Спробуйте перевірити, чи немає помилок.
  // end .b-main-search
  |
  |
