mixin b-modal-test()

  .modal.fade#modalTest(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-test.modal-content
        .b-modal-test__title Завершуємо налаштування
        .b-modal-test__info Ми хочемо зробити дуже зручний веб сервіс для Вас і всіх мешканців нашого міста, зовсім скоро Ви зможемо скористатися всіма його функціями.

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-test
  |
  |
