.b-modal-test {
  text-align: center;
  border-radius: 6px;
  background-color: #eef5ff;
  padding: 78px 35px 98px;
  &__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.4px;
    color: $color-main;
    margin-bottom: 50px;
  }
  &__info {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    color: #848e99;
  }
  .close {
    position: absolute;
    top: -35px;
    right: 0;
    font-size: 38px;
    font-weight: normal;
    color: #eef5ff;
    opacity: 1;
    text-shadow: none;
 }
}
