.footer {
  padding-top: 50px;
  padding-bottom: 45px;
  background: #08183b url(../media/general/bg-footer.png) no-repeat 100% 50%;
  color: #dde1e6;
  &__title {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.333;
    margin-bottom: 10px;
  }
  &__subtitle {
    padding-bottom: 50px;
    font-size: .875rem;
  }
  &__btn {
    padding: 8px 26px;
    color: $color-gray;
    text-transform: none;
    border-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    &:hover {
      background-color: #FFF;
    }
  }
  .soc-link__link {
    color: #c7ccd1;
  }

  @include media-breakpoint-down(sm) {
    background: #08183B;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    &__btn {
      margin-bottom: 33px;
    }
    &__title {
      font-size: 1.25rem;
      margin-bottom: 0;
    }
    &__subtitle {
      border-bottom: 1px solid #fff;
      margin-bottom: 33px;
      padding-bottom: 30px;
    }
  }
}


.footer-logo {
  margin-bottom: 35px;
  &__item {
    display: inline-block;
    &:nth-child(2) {
      position: relative;
      &:before {
        margin-left: 18px;
        margin-right: 12px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: -moz-linear-gradient(top, #005bbb 0%, #005bbb 50%, #ffd500 50%, #ffd500 100%);
        background: -webkit-linear-gradient(top, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005bbb', endColorstr='#ffd500',GradientType=0 );
      }
    }
  }
  &__link {
    display: inline-block;
    max-width: 50px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 23px;
  }
}

.footer-section {
  padding-top: 95px;
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    color: #f4f7fb;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.footer-list {
  &__item {
    margin-bottom: 10px;
  }
  &__link {
    color: #848e99;
    font-weight: 600;
    line-height: 1.5;
    &:hover {
      color: #FFF;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
}

.footer-main {}
.footer-bottom {
  margin-top: 43px;
  padding-top: 38px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-top: 40px;
    padding-top: 27px;
  }
}

.footer-copyright {
  position: relative;
  .ic {
    position: absolute;
    top: calc(50% - 15px);
    left: -37px;
    fill: #dde1e6;
  }

  @include media-breakpoint-down(sm) {
    text-align: left;
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    &__info {
      padding-left: 45px;
    }
    .ic {
      position: relative;
      top: 0;
      left: 0;
      float: left;
    }
  }
}

.footer-devel {
  &__img {
    float: left;
    margin-right: 14px;
  }
  &__text {}

  @include media-breakpoint-down(sm) {
    text-align: left;
    display: inline-block;
    margin-bottom: 20px;
    &__text {
      white-space: nowrap;
      display: inline-block;
    }
  }
}
