.b-monitoring {
  padding-bottom: 100px;
  &__meta {
    margin-bottom: 14px;
  }
  &__meta-group {}
  &__meta-item {
    color: #848e99;
    font-size: 0.875rem;
    .ic {
      margin-right: 8px;
      fill: #c7ccd1;
      vertical-align: bottom;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__section {}
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
  }
  &__title-info {
    color: #848e99;
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    display: inline-block;
    margin-left: 25px;
    font-weight: 400;
  }
  &__table {
    margin-bottom: 55px;
    letter-spacing: -0.012rem;
    .b-monitoring__alarm {
      background-color: rgba(214, 54, 73, .1);
      &.active {
        background-color: rgba(207, 26, 57, .2);
      }
    }
    thead {
      th {
        color: #848e99;
        font-weight: 400;
        line-height: 1.4445;
        &:first-child {
          text-align: left;
        }
      }
    }
    td {
      font-weight: 400;
      font-size: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      &:first-child {
        text-align: left;
      }
      a {
        color: $color-main;
      }
    }

    &_type-a {
      thead {
        th {
          font-size: 1.5rem;
          &:first-child {
            text-align: left;
          }
        }
      }
      td {
        text-align: center;
        a {
          color: $color-main;
        }
      }
    }
    &_type-b {
      thead {
        th {
          font-size: 1.125rem;
          text-align: left;
        }
      }
      td {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  &__chart {
    height: 570px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  &__map {
    height: 383px;
    margin-top: 37px;
  }
  &__form {
    padding: 20px 45px;
  }
  &__btn-down {
    position: relative;
    background-color: #dde1e6;
    .ic {
      position: absolute;
      right: 8px;
      top: 8px;
      fill: $color-main;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  @include media-breakpoint-down(lg) {
    &__form {
      padding-left: 0;
      padding-right: 0;
    }
    &__chart {
      height: 250px;
    }
  }
}

.b-monitoring-desrip {
  margin-bottom: 30px;
  &__name {
    color: #848e99;
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__info {
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    margin-bottom: 15px;
  }

  @include media-breakpoint-down(sm) {
    &__name {
      margin-bottom: 0;
    }
  }
}
