mixin b-monitoring()

  section.b-monitoring
    .container
      h1.ui-title-page Моніторінг стану повітря Северодонецька за Квітень 2019
      .row
        .col-lg-8
          .b-monitoring__meta
            .row.justify-content-between
              .b-monitoring__meta-group.col-auto
                span.b-monitoring__meta-item
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-monitoring__meta-item
                  time(datetime="2018-09-19") 19.09.2018

          dl.b-monitoring-desrip.row
            dt.b-monitoring-desrip__name.col-md-4 Населений пункт:
            dd.b-monitoring-desrip__info.col-md-8 Северодонецьк
            dt.b-monitoring-desrip__name.col-md-4 Період:
            dd.b-monitoring-desrip__info.col-md-8 Середньодобовий

          section.b-monitoring__section
            h2.b-monitoring__title Кратність перевищення гранично-допустимих концентрацій
              span.b-monitoring__title-info мг/м3
            .table-responsive
              table.b-monitoring__table.b-monitoring__table_type-a.table.table-borderless.table-hover
                thead
                  tr
                    th Дата
                    th NO2
                    th SO2
                    th NH3
                    th HCL
                    th Фармальдегід
                tbody
                  tr
                    td
                      a(href="#") 1.12.2018
                    td
                      a(href="#") 0.03
                    td
                      a(href="#") 0.013
                    td
                      a(href="#") 0.02
                    td
                      a(href="#") 0.04
                    td.b-monitoring__alarm
                      a(href="#") 0.006
                  tr
                    td
                      a(href="#") 1.12.2018
                    td
                      a(href="#") 0.03
                    td
                      a(href="#") 0.013
                    td
                      a(href="#") 0.02
                    td
                      a(href="#") 0.04
                    td.b-monitoring__alarm
                      a(href="#") 0.006
                  tr
                    td
                      a(href="#") 1.12.2018
                    td
                      a(href="#") 0.03
                    td
                      a(href="#") 0.013
                    td
                      a(href="#") 0.02
                    td
                      a(href="#") 0.04
                    td.b-monitoring__alarm
                      a(href="#") 0.006
                  tr
                    td
                      a(href="#") 1.12.2018
                    td
                      a(href="#") 0.03
                    td
                      a(href="#") 0.013
                    td
                      a(href="#") 0.02
                    td
                      a(href="#") 0.04
                    td.b-monitoring__alarm
                      a(href="#") 0.006
                  tr
                    td
                      a(href="#") 1.12.2018
                    td
                      a(href="#") 0.03
                    td
                      a(href="#") 0.013
                    td
                      a(href="#") 0.02
                    td
                      a(href="#") 0.04
                    td.b-monitoring__alarm
                      a(href="#") 0.006

          section.b-monitoring__section
            h2.b-monitoring__title Гістограма перевищення гранично-допустимих концентрацій:
            .b-monitoring__chart#chartBar1


          section.b-monitoring__section
            h2.b-monitoring__title Джерело інформації :
            dl.b-monitoring-desrip.row
              dt.b-monitoring-desrip__name.col-md-4 Документ:
              dd.b-monitoring-desrip__info.col-md-8 Звіт
              dt.b-monitoring-desrip__name.col-md-4 Джерело:
              dd.b-monitoring-desrip__info.col-md-8 Система моніторінгу довкілля Луганської області
              dt.b-monitoring-desrip__name.col-md-4 Рік:
              dd.b-monitoring-desrip__info.col-md-8 2019

        .col-lg-4
          .b-monitoring__map#map-main
          form.b-monitoring__form
            .form-group
              .input-group.date.bg-light.align-items-center.no-gutters
                .ui-input.col
                  label.ui-input__label(for="firstDate")
                    span.ui-input__label-content З якого періоду
                  input.ui-input__field.form-control.js-input#firstDate(type="text" autocomplete="off")
                  .invalid-feedback Поле не заповненне
                span.input-group-addon.col-auto.pl-3.pr-3
                  != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

            .form-group
              .input-group.date.bg-light.align-items-center.no-gutters
                .ui-input.col
                  label.ui-input__label(for="lastDate")
                    span.ui-input__label-content До якого періоду
                  input.ui-input__field.form-control.js-input#lastDate(type="text" autocomplete="off")
                  .invalid-feedback Поле не заповненне
                span.input-group-addon.col-auto.pl-3.pr-3
                  != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

            button.btn.btn-secondary.w-100.mb-2 Подивитися результат
            a.b-monitoring__btn-down.btn.w-100(href="#") Завантажити звіт
              != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '30', iconHeight: '30'})

  // end .b-monitoring
  |
  |


mixin b-monitoring-2()

  section.b-monitoring
    .container
      h1.ui-title-page Характеристика поверхневих вод Сіверский Донець
      .row
        .col-lg-8
          .b-monitoring__meta
            .row.justify-content-between
              .b-monitoring__meta-group.col-auto
                span.b-monitoring__meta-item
                  != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
                  |  12 653
                span.b-monitoring__meta-item
                  time(datetime="2018-09-19") 19.09.2018

          dl.b-monitoring-desrip.row
            dt.b-monitoring-desrip__name.col-md-4 Об’єкт:
            dd.b-monitoring-desrip__info.col-md-8 р. Сів. Донець, сел. Білогорівка, ЗФС
            dt.b-monitoring-desrip__name.col-md-4 Номер СТВ:
            dd.b-monitoring-desrip__info.col-md-8 1300106

          section.b-monitoring__section
            h2.b-monitoring__title Кратність перевищення гранично-допустимих концентрацій
            .table-responsive
              table.b-monitoring__table.b-monitoring__table_type-b.table.table-borderless.table-hover
                thead
                  tr
                    th Найменування інгредієнтів
                    th мг/дм3
                    th Кратність перевищення ГДК
                    th ГДК для водних об’єктів рибогосподарського призначення
                tbody
                  tr
                    td
                      a(href="#") Завислі речовини
                    td
                      a(href="#") 10
                    td.b-monitoring__alarm
                      a(href="#")
                    td
                      a(href="#") -
                  tr
                    td
                      a(href="#") Розч. кисень
                    td
                      a(href="#") 9,09
                    td.b-monitoring__alarm
                      a(href="#")
                    td
                      a(href="#") min 6
                  tr
                    td
                      a(href="#") Хлориди
                    td
                      a(href="#") 230
                    td.b-monitoring__alarm
                      a(href="#") 0,77
                    td
                      a(href="#") 300
                  tr
                    td
                      a(href="#") Сульфати
                    td
                      a(href="#") 298
                    td.b-monitoring__alarm.active
                      a(href="#") 2,98
                    td
                      a(href="#") 100
                  tr
                    td
                      a(href="#") Кальцій
                    td
                      a(href="#") 160
                    td.b-monitoring__alarm
                      a(href="#") 0,89
                    td
                      a(href="#") 180
                  tr
                    td
                      a(href="#") БСК5
                    td
                      a(href="#") 3,34
                    td.b-monitoring__alarm
                      a(href="#") 1,11
                    td
                      a(href="#") 3
                  tr
                    td
                      a(href="#") Азот амонійний
                    td
                      a(href="#") 0,26
                    td.b-monitoring__alarm
                      a(href="#") 0,52
                    td
                      a(href="#") 0,5
                  tr
                    td
                      a(href="#") Азот нітрітний
                    td
                      a(href="#") 0,016
                    td.b-monitoring__alarm
                      a(href="#") 0,20
                    td
                      a(href="#") 0,08
                  tr
                    td
                      a(href="#") Азот нітратний
                    td
                      a(href="#") 0,99
                    td.b-monitoring__alarm
                      a(href="#") 0,02
                    td
                      a(href="#") 40
                  tr
                    td
                      a(href="#") Фосфати
                    td
                      a(href="#") 1
                    td.b-monitoring__alarm
                      a(href="#") 1,43
                    td
                      a(href="#") 0,7
                  tr
                    td
                      a(href="#") Хром-6
                    td
                      a(href="#") 0,006
                    td.b-monitoring__alarm
                      a(href="#") 6,00
                    td
                      a(href="#") 0,001
                  tr
                    td
                      a(href="#") Фенол
                    td
                      a(href="#") 0
                    td.b-monitoring__alarm
                      a(href="#") 0,00
                    td
                      a(href="#") 0,001
                  tr
                    td
                      a(href="#") Нафтопродукти
                    td
                      a(href="#") 0,02
                    td.b-monitoring__alarm
                      a(href="#") 0,40
                    td
                      a(href="#") 0,05
                  tr
                    td
                      a(href="#") СПАР
                    td
                      a(href="#") 0,02
                    td.b-monitoring__alarm
                      a(href="#") 0,07
                    td
                      a(href="#") 0,3

          section.b-monitoring__section
            h2.b-monitoring__title Гістограма кратністі перевищення ГДК на р. Сіверский Донець, с. Білогорівка, ЗФС (ств. 1300106):
            .b-monitoring__chart#chartBar2



          section.b-monitoring__section
            h2.b-monitoring__title Інформація про гранично допустимі концентрації:
            .table-responsive
              table.b-monitoring__table.b-monitoring__table_type-b.table.table-borderless.table-hover
                thead
                  tr
                    th Найменування інгредієнтів
                    th мг/дм3
                    th Кратність перевищення ГДК
                    th ГДК для водних об’єктів рибогосподарського призначення
                tbody
                  tr
                    td
                      a(href="#") Завислі речовини
                    td
                      a(href="#") 10
                    td.b-monitoring__alarm
                      a(href="#")
                    td
                      a(href="#") -
                  tr
                    td
                      a(href="#") Розч. кисень
                    td
                      a(href="#") 9,09
                    td.b-monitoring__alarm
                      a(href="#")
                    td
                      a(href="#") min 6
                  tr
                    td
                      a(href="#") Хлориди
                    td
                      a(href="#") 230
                    td.b-monitoring__alarm
                      a(href="#") 0,77
                    td
                      a(href="#") 300
                  tr
                    td
                      a(href="#") Сульфати
                    td
                      a(href="#") 298
                    td.b-monitoring__alarm.active
                      a(href="#") 2,98
                    td
                      a(href="#") 100
                  tr
                    td
                      a(href="#") Кальцій
                    td
                      a(href="#") 160
                    td.b-monitoring__alarm
                      a(href="#") 0,89
                    td
                      a(href="#") 180
                  tr
                    td
                      a(href="#") БСК5
                    td
                      a(href="#") 3,34
                    td.b-monitoring__alarm
                      a(href="#") 1,11
                    td
                      a(href="#") 3
                  tr
                    td
                      a(href="#") Азот амонійний
                    td
                      a(href="#") 0,26
                    td.b-monitoring__alarm
                      a(href="#") 0,52
                    td
                      a(href="#") 0,5
                  tr
                    td
                      a(href="#") Азот нітрітний
                    td
                      a(href="#") 0,016
                    td.b-monitoring__alarm
                      a(href="#") 0,20
                    td
                      a(href="#") 0,08
                  tr
                    td
                      a(href="#") Азот нітратний
                    td
                      a(href="#") 0,99
                    td.b-monitoring__alarm
                      a(href="#") 0,02
                    td
                      a(href="#") 40
                  tr
                    td
                      a(href="#") Фосфати
                    td
                      a(href="#") 1
                    td.b-monitoring__alarm
                      a(href="#") 1,43
                    td
                      a(href="#") 0,7
                  tr
                    td
                      a(href="#") Хром-6
                    td
                      a(href="#") 0,006
                    td.b-monitoring__alarm
                      a(href="#") 6,00
                    td
                      a(href="#") 0,001
                  tr
                    td
                      a(href="#") Фенол
                    td
                      a(href="#") 0
                    td.b-monitoring__alarm
                      a(href="#") 0,00
                    td
                      a(href="#") 0,001
                  tr
                    td
                      a(href="#") Нафтопродукти
                    td
                      a(href="#") 0,02
                    td.b-monitoring__alarm
                      a(href="#") 0,40
                    td
                      a(href="#") 0,05
                  tr
                    td
                      a(href="#") СПАР
                    td
                      a(href="#") 0,02
                    td.b-monitoring__alarm
                      a(href="#") 0,07
                    td
                      a(href="#") 0,3


        .col-lg-4
          .b-monitoring__map#map-main
          form.b-monitoring__form
            .form-group
              .input-group.date.bg-light.align-items-center.no-gutters
                .ui-input.col
                  label.ui-input__label(for="firstDate")
                    span.ui-input__label-content З якого періоду
                  input.ui-input__field.form-control.js-input#firstDate(type="text" autocomplete="off")
                  .invalid-feedback Поле не заповненне
                span.input-group-addon.col-auto.pl-3.pr-3
                  != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

            .form-group
              .input-group.date.bg-light.align-items-center.no-gutters
                .ui-input.col
                  label.ui-input__label(for="lastDate")
                    span.ui-input__label-content До якого періоду
                  input.ui-input__field.form-control.js-input#lastDate(type="text" autocomplete="off")
                  .invalid-feedback Поле не заповненне
                span.input-group-addon.col-auto.pl-3.pr-3
                  != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic', iconWidth: '30', iconHeight: '30'})

            button.btn.btn-secondary.w-100.mb-2 Подивитися результат
            a.b-monitoring__btn-down.btn.w-100(href="#") Завантажити звіт
              != pugHelpers.Icon.call(locals, {iconName: 'download', className: 'ic', iconWidth: '30', iconHeight: '30'})

  // end .b-monitoring
  |
  |


