mixin b-card(img, name)

  a.b-card(href="#" class!=attributes.class)
    .b-card__media
      img.b-card__img.img-scale(src="assets/media/content/b-card/" + img + ".jpg", alt="foto")

    .b-card__main
      .b-card__inner
        .b-card__title= name
        .b-card__descrip
          .b-card__descrip-item.ui-meta
            != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
            |  кв-л Ювілейний, 10, Луганськ
            span.d-block 48.135936, 37.744862

          .b-card__descrip-item.ui-meta
            != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic fill-light', iconWidth: '24', iconHeight: '24'})
            |  9 Жовтня 2018

      .b-card__footer.ui-meta Луганська обласна державна адміністрація

  // end .b-card
  |
  |
