mixin b-object()
  article.b-object
    .container
      .b-object__header
        h1.b-object__title.ui-title-page Паспорт рудовища підземних питних і технічних вод № 4561
      .b-object__meta
        .row.justify-content-between
          .b-object__meta-group.col-auto
            span.b-object__meta-item
              != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
              |  12 653
            span.b-object__meta-item
              time(datetime="2018-09-19") 19.09.2018

      .row.flex-row-reverse
        .col-lg-4
          .b-object__map#map-main
          .b-object__descrip
            .b-object__descrip-item
              .b-object__descrip-title Ступінь промислового освоєння:
              .b-object__descrip-info Розробляється
            .b-object__descrip-item
              .b-object__descrip-title Тип вод за використанням:
              .b-object__descrip-info Виробничо-технічне

          .b-object__descrip
            .b-object__descrip-item
              .b-object__descrip-title Басейн підземних вод:
              .b-object__descrip-info Днiпровсько-Донецький артезіанський басейн
            .b-object__descrip-item
              .b-object__descrip-title Річковий басейн:
              .b-object__descrip-info р.Сіверський Донець
            .b-object__descrip-item
              .b-object__descrip-title Тип водозабірної споруди:
              .b-object__descrip-info Водозабiрна свердловина

          .b-object__descrip
            .b-object__descrip-item
              .b-object__descrip-title Відповідальний:
              .b-object__descrip-info Луганська обласна державна адміністрація


        .col-lg-8
          dl.b-object-desrip.row.no-gutters
            dt.b-object-desrip__title.col-md-5 Родовище:
            dd.b-object-desrip__info.col-md-7 Новосиротинське
            dt.b-object-desrip__title.col-md-5 Ділянка:
            dd.b-object-desrip__info.col-md-7 Новосиротинська

          section.b-object__section
            h2.b-object__title-inner Характеритистика водоносного гаризонту

            dl.b-object-desrip.row.no-gutters
              dt.b-object-desrip__title.col-md-5 Геологічний індекс та назва водоносногогоризонту:
              dd.b-object-desrip__info.col-md-7 K2 - Водоносний верхньокрейдяний карбонатний i теригенний горизонт

              dt.b-object-desrip__title.col-md-5 Літологія:
              dd.b-object-desrip__info.col-md-7 Мергель тріщинувати

              dt.b-object-desrip__title.col-md-5 Глибина покрівлі,м:
              dd.b-object-desrip__info.col-md-7 21.50 — 22.00

              dt.b-object-desrip__title.col-md-5 Глибина підошви,м:
              dd.b-object-desrip__info.col-md-7 42.00-43.00

              dt.b-object-desrip__title.col-md-5 Рівень води,м
              dd.b-object-desrip__info.col-md-7 13.22 — 15.00

              dt.b-object-desrip__title.col-md-5 Напір над покрівлею,м:
              dd.b-object-desrip__info.col-md-7 6.50 — 8.78

              dt.b-object-desrip__title.col-md-5 Опробування: дебіт, м3, добу:
              dd.b-object-desrip__info.col-md-7 732.00 — 784.00

              dt.b-object-desrip__title.col-md-5 Зниження,м:
              dd.b-object-desrip__info.col-md-7 0.97 — 1.22

              dt.b-object-desrip__title.col-md-5 Літологія:
              dd.b-object-desrip__info.col-md-7 0.700 — 0.950

              dt.b-object-desrip__title.col-md-5 Тип води:
              dd.b-object-desrip__info.col-md-7 Хлоридно-гідрокарбонатно-сульфатна кальцієва


          section.b-object__section
            h2.b-object__title-inner Джерело інформації про об’ект:

            dl.b-object-desrip.row.no-gutters
              dt.b-object-desrip__title.col-md-5 Документ:
              dd.b-object-desrip__info.col-md-7 Звіт
              dt.b-object-desrip__title.col-md-5 Зміст документа:
              dd.b-object-desrip__info.col-md-7 Води технічні
              dt.b-object-desrip__title.col-md-5 Автор (складач):
              dd.b-object-desrip__info.col-md-7 Т.М.Григорович, Т.М.Веретюк
              dt.b-object-desrip__title.col-md-5 Рік затвердження(зміни):
              dd.b-object-desrip__info.col-md-7 2013
              dt.b-object-desrip__title.col-md-5 Номер зберіганняв Геоінформ:
              dd.b-object-desrip__info.col-md-7
                a.b-object-desrip__link(href="#" target="_blank") 64140
                  != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})


          section.b-object__section
            h2.b-object__title-inner Перелік спеціальних дозволів:

            dl.b-object-desrip.row.no-gutters
              dt.b-object-desrip__title.col-md-5 Реєстративний номер:
              dd.b-object-desrip__info.col-md-7
                a.b-object-desrip__link(href="#" target="_blank") 6150
                  != pugHelpers.Icon.call(locals, {iconName: 'external-link', className: 'ic fill-primary', iconWidth: '30', iconHeight: '30'})
              dt.b-object-desrip__title.col-md-5 Стан дії:
              dd.b-object-desrip__info.col-md-7 Дійсний
              dt.b-object-desrip__title.col-md-5 Дата надання дії:
              dd.b-object-desrip__info.col-md-7 01-11-2016
              dt.b-object-desrip__title.col-md-5 Дата закінчення дії:
              dd.b-object-desrip__info.col-md-7 01-11-2036
              dt.b-object-desrip__title.col-md-5 Вид користування надрами:
              dd.b-object-desrip__info.col-md-7 Видобування корисних копалин (промислова розробка родовищ)
              dt.b-object-desrip__title.col-md-5 Назів об'єкту обліку:
              dd.b-object-desrip__info.col-md-7 Родовище - Новосиротинське
              dt.b-object-desrip__title.col-md-5 Власник:
              dd.b-object-desrip__info.col-md-7 31337612 ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "КЛАРІАНТ УКРАЇНИ" (Адреса: ЛУГАНСЬКА ОБЛ., М.СЄВЄРОДОНЕЦЬК, ВУЛ.ПИВОВАРОВА, 5-И 3/1)


          .b-object-carousel
            .b-object-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")
              .b-object-carousel__main-item
                img.img-scale(src="assets/media/content/b-object-carousel/main/1.jpg", alt="foto")

            .b-object-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 5, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/1.jpg", alt="foto")
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/2.jpg", alt="foto")
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/3.jpg", alt="foto")
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/1.jpg", alt="foto")
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/2.jpg", alt="foto")
              .b-object-carousel__nav-item
                img.img-scale(src="assets/media/content/b-object-carousel/thumbnails/3.jpg", alt="foto")

  // end .b-object
  |
  |

