.b-object {
  font-size: 1.125rem;
  padding-bottom: 12px;
  &__title {
    margin-right: 0;
    margin-bottom: 12px;
  }
  &__map {
    height: 383px;
  }
  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 7px;
  }
  &__meta {
    margin-bottom: 30px;
  }
  &__meta-item {
    margin-right: 30px;
    color: $color-light;
    font-size: 0.875rem;
    line-height: 1.25rem;
    .ic {
      margin-right: 8px;
      fill: #c7ccd1;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__descrip {
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(151, 151, 151, .5);
    &:last-child {
      margin-bottom: 50px;
    }
  }
  &__descrip-item {
    margin-bottom: 22px;
  }
  &__descrip-title {
    color: $color-light;
    font-size: 0.875rem;
    margin-bottom: 3px;
  }
  &__descrip-info {
    font-size: 1rem;
  }

  &__title-inner {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(md) {
    &__map {
      height: 328px;
      margin-top: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__second {
      padding: 15px 15px 0;
    }
    &__descrip {
    }
    &__title {
      margin-bottom: 0;
    }
  }
}

.b-object-desrip {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 5px;
  margin-bottom: 50px;
  &:first-child {
    margin-bottom: 23px;
  }
  &__title {
    color: #848e99;
    font-weight: 400;
    letter-spacing: -0.012rem;
    margin-bottom: 27px;
  }
  & &__title {
    padding-right: 20px;
  }
  &__info {
    font-weight: 400;
    letter-spacing: -0.012rem;
    margin-bottom: 27px;
  }
  &__link {
    font-weight: 600;
    .ic {
      vertical-align: text-bottom;
    }
  }

  @include media-breakpoint-down(sm) {
    &__title {
      margin-bottom: 0;
    }
  }
}

.b-object-carousel {
  &__main-item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
  &__nav {
    margin-top: 16px;
  }
  &__nav-item {
    border: 8px solid $color-gray;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 9px;
    transition: all .3s;
  }
}
