mixin b-appeal()
  article.b-appeal
    .container
      .b-appeal__header
        h1.b-appeal__title.ui-title-page Звернення № 4561
      .b-appeal__meta
        .row.justify-content-between
          .b-appeal__meta-group.col-auto
            span.b-appeal__meta-item
              != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic', iconWidth: '24', iconHeight: '24'})
              |  12 653
            span.b-appeal__meta-item
              time(datetime="2018-09-19") 19.09.2018

      .b-appeal__main
        p Протягом серпня-вересня 2018 року я у складі зведеного загону полку патрульної служби поліції особливого призначення ”Дніпро-1” перебував у відрядженні у м. Кураховому Луганської области. Місцем дислокації загону була база відпочинку ”Янтар” на північному березі Курахівського водосховища. Утилізацію сміття на базі не здійснюють. Воно накопичується на тракторному причепі поблизу центрального входу. Причіп встановлено так, що вивезти його неможливо. Чергові працівники бази постійно вдень вивозять сміття з причепу до лісосмуги навпроти брами бази відпочинку і там спалюють. Це робиться у будь-яку погоду і незалежно від напрямку вітру. На сусідніх базах вчиняють аналогічно. За два місяці перебування там я жодного разу не бачив сміттєвозів.
        p На доданих світлинах подаю місце розташування бази, звалища і зображення сміття, що горить.

      .row
        .col-lg-8
          .b-appeal-carousel
            .b-appeal-carousel__main.js-slider-thumb_main(data-slick='{"arrows": false, "autoplay": false}')
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")
              .b-appeal-carousel__main-item
                img.img-scale(src="assets/media/content/b-appeal/slider/main/1.jpg", alt="foto")

            .b-appeal-carousel__nav.js-slider-thumb_nav(data-slick='{"autoplay": false, "arrows": false, "slidesToShow": 5, "responsive": [{"breakpoint": 768, "settings": {"slidesToShow": 3}}]}')
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/3.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/1.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/2.jpg", alt="foto")
              .b-appeal-carousel__nav-item
                img.img-scale(src="assets/media/content/b-appeal/slider/thumbnails/3.jpg", alt="foto")

        .col-lg-4
          .b-appeal__map#map-main

      .row.flex-row-reverse
        .col-lg-4
          .b-appeal__descrip
            .b-appeal__descrip-item
              .b-appeal__descrip-title Номер, дата зверненя:
              .b-appeal__descrip-info 1135-1 від 10 грудня 2017
            .b-appeal__descrip-item
              .b-appeal__descrip-title Адреса:
              .b-appeal__descrip-info Курахово, Луганська область, Україна
            .b-appeal__descrip-item
              .b-appeal__descrip-title Координати:
              .b-appeal__descrip-info 48.015220241336, 37.244739476591
            .b-appeal__descrip-item
              .b-appeal__descrip-title Відповідальний:
              .b-appeal__descrip-info Луганська обласна державна адміністрація
            .row
              .col-auto
                .b-appeal__descrip-item
                  .b-appeal__descrip-title Дата контролю:
                  time.b-appeal__descrip-info(datetime="2018-09-19") 10.09.2017
              .col-auto
                .b-appeal__descrip-item
                  .b-appeal__descrip-title Дата вирішення:
                  time.b-appeal__descrip-info(datetime="2018-09-19") 19.11.2017
            .b-appeal__descrip-item
              .b-appeal__descrip-title Статус:
              .b-appeal__descrip-info Завершено обговорення


        .col-lg-8
          section.section-reply-form.bg-gray#section-reply-form
            .container
              .row
                .col-12
                  form.form-reply.ui-form.needs-validation(novalidate)
                    .row
                      .col-md
                        h2.form-reply__title Ваш коментар

                      .col-md-auto.mb-sm-4.pb-sm-3
                        button.ui-status.color-light(type="button")
                          span.ui-status__text.d-none.d-sm-inline-block Відхилити
                          span.ui-status__group
                            i.ui-status__ic.bg-red
                            != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic fill-red', iconWidth: '24', iconHeight: '24'})
                        button.ui-status.color-light(type="button")
                          span.ui-status__text.d-none.d-sm-inline-block Підтвердити
                          span.ui-status__group
                            i.ui-status__ic.bg-green
                            != pugHelpers.Icon.call(locals, {iconName: 'check', className: 'ic fill-green', iconWidth: '12', iconHeight: '9.6'})

                    .form-group
                      .ui-input.ui-input_r-4
                        label.ui-input__label(for="comments")
                          span.ui-input__label-content Залиште ваш текст коментару
                        textarea.ui-input__field.form-control#comments(required)

                    .ui-upload.js-upload.row
                      .col-sm-auto
                        button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Оберіть файли
                      .ui-upload__note.col-sm Додайте фото.<br> Максимальний розмір файлу — 5 Мб
                      .col-md-auto
                        button.form-reply__submit.btn.btn-secondary.mt-3.mt-md-0 Відправити
                    .js-upload-container

          // end .section-reply-form


          section.section-comment
            ul.comments-list.list-unstyled
              li
                article.comment.bg-gray
                  .comment-main
                    header.comment-header.row.justify-content-between.align-items-start
                      .col
                        .comment-face
                          img.img-scale(src="assets/media/content/b-appeal/face/1.jpg", alt="face")
                        cite.comment-author Скоромний Василь

                      .col-auto
                        span.ui-status.color-light
                          span.ui-status__text.d-none.d-sm-inline-block На розгляді виконавця
                          span.ui-status__group
                            i.ui-status__ic.bg-orange
                            != pugHelpers.Icon.call(locals, {iconName: 'time', className: 'ic fill-orange', iconWidth: '24', iconHeight: '24'})

                    .comment-body Відповідальним виконавцем по перевірці зазначених у зверненні фактів визначено Мар'їнську райдержадміністрацію. Ваше звернення направлено до Державної екологічної інспекції у Донецькій області для прийняття відповідних заходів реагування.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар


                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-main
                        header.comment-header.row.justify-content-between.align-items-start
                          .col
                            .comment-face
                              img.img-scale(src="assets/media/content/b-appeal/face/2.jpg", alt="face")
                            cite.comment-author Марійко Ігор
                          .col-auto
                            span.ui-status.color-light
                              span.ui-status__text.d-none.d-sm-inline-block Відхилено Заявником
                              span.ui-status__group
                                i.ui-status__ic.bg-red
                                != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic fill-red', iconWidth: '24', iconHeight: '24'})

                        .comment-body
                          p У тексті я прямо писав, що причіп встановлено у куті території між деревами так, що вивезти його звідти неможливо. Той причіп стоїть там нерухомо тривалий час.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-gray
                  .comment-main
                    header.comment-header.row.justify-content-between.align-items-start
                      .col
                        .comment-face
                          img.img-scale(src="assets/media/content/b-appeal/face/3.jpg", alt="face")
                        cite.comment-author Черныш Владислав
                      .col-auto
                        span.ui-status.color-light
                          span.ui-status__text.d-none.d-sm-inline-block Надано відповідь
                          span.ui-status__group
                            i.ui-status__ic.bg-orange
                            != pugHelpers.Icon.call(locals, {iconName: 'letter', className: 'ic fill-orange', iconWidth: '14', iconHeight: '11.45'})

                    .comment-body За додатковою інформацією Мар’їнської райдержадміністрації, районної військово-цивільної адміністрації відходи з бази відпочинку «Янтар» регулярно вивозяться на полігон твердих побутових відходів згідно контрольних талонів комунального підприємства «Міська служба єдиного замовника» Курахівської міської ради. На початку весни щорічно Курахівською міською радою проводиться перевірка всіх баз відпочинку до готовності прийому відпочиваючих.
                    footer.comment-footer
                      time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                      a.comment-btn(href="blog-post.html") Відповісти на коментар
              li
                article.comment.bg-gray
                  .comment-main
                    header.comment-header.row.justify-content-between.align-items-start
                      .col
                        .comment-face
                          img.img-scale(src="assets/media/content/b-appeal/face/1.jpg", alt="face")
                        cite.comment-author Скоромний Василь
                      .col-auto
                        span.ui-status.color-light
                          span.ui-status__text.d-none.d-sm-inline-block Потребує підтвердження заявника
                          span.ui-status__group
                            i.ui-status__ic.bg-orange
                            != pugHelpers.Icon.call(locals, {iconName: 'check', className: 'ic fill-orange', iconWidth: '12', iconHeight: '9.6'})

                    .comment-body За інформацією Покровської райдержадміністрації головою Сонцівської сільської ради Покровського району спільно з представниками Державної екологічної інспекції у Донецькій області було оглянуто ділянку місцевості на землях Сонцівської сільської ради. На момент огляду зазначеної території в районі бази відпочинку «Янтар», за лісосмугою, стихійного сміттєзвалища не виявлено (фотозвіт додається). Станом на 16.01.2019 стихійні сміттєзвалища за вказаними у зверненні координатами відсутні.

                    footer.comment-footer
                      .comment-footer__inner
                        time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                        a.comment-btn(href="blog-post.html") Відповісти на коментар
                      .comment-footer__upload
                        a.comment-footer__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'attach', className: 'ic fill-light', iconWidth: '20', iconHeight: '20'})
                          |  PowerPoint.PPTX, 1.4Мб
                        a.comment-footer__link(href="#")
                          != pugHelpers.Icon.call(locals, {iconName: 'attach', className: 'ic fill-light', iconWidth: '20', iconHeight: '20'})
                          |  Passport_View.DOC, 745кБ

                ul.children.list-unstyled
                  li
                    article.comment
                      .comment-main
                        header.comment-header.row.justify-content-between.align-items-start
                          .col
                            .comment-face
                              img.img-scale(src="assets/media/content/b-appeal/face/2.jpg", alt="face")
                            cite.comment-author Марійко Ігор
                          .col-auto
                            span.ui-status.color-light
                              span.ui-status__text.d-none.d-sm-inline-block Відхилено Заявником
                              span.ui-status__group
                                i.ui-status__ic.bg-red
                                != pugHelpers.Icon.call(locals, {iconName: 'cancel', className: 'ic fill-red', iconWidth: '24', iconHeight: '24'})

                        .comment-body
                          p Тупа відмазка для лохів. Як завжди. Крім того, немає жодного слова про реагування на спалювання сміття поблизу території бази відпочинку. Слів немає. Лише емоції.
                        footer.comment-footer
                          time.comment-datetime(datetime="2012-10-27T14:08") 23 листопада, 2017 15:31
                          a.comment-btn(href="blog-post.html") Відповісти на коментар
            .text-center
              button.section-comment__btn-more.btn.btn-secondary Завантажити ще
          // end .section-comment

  // end .b-appeal
  |
  |

