mixin b-contacts-sm(img, name)

  .b-contacts-sm(class!=attributes.class)
    .row.align-items-lg-center
      .b-contacts-sm__inner.col-xl-12.col-lg-6
        .b-contacts-sm__title Адреса:
        .b-contacts-sm__item 84313, м.Луганськ, <br>вул. Богдана Хмельницького, 6
        a.b-contacts-sm__item(href="tel:+380956442525") +38 (095) 644-25-25

      .b-contacts-email.col-xl-12.col-lg-6
        .b-contacts-email__main
          .b-contacts-email__label E-mail
          a.b-contacts-email__info(href="email:info@ecomap.dn.ua") info@ecomap.dn.ua
        a.b-contacts-email__btn(href="email:info@ecomap.dn.ua")
          != pugHelpers.Icon.call(locals, {iconName: 'subscribe', className: 'ic', iconWidth: '18', iconHeight: '17'})


  // end .b-contacts-sm
  |
  |


mixin b-contacts()
  section.b-contacts
    .container
      h1.ui-title-page Контакти департаменту екології та природних ресурсів
      p Департамент екології та природних ресурсів є структурним підрозділом Донецької обласної державної адміністрації, якій підпорядковується голові Донецької обласної державної адміністрації, а також підзвітний і підконтрольний Міністерству екології та природних ресурсів України.
      p Забезпечення в межах повноважень облдержадміністрації реалізації на території області державної політики у сферах охорони навколишнього природного середовища, та раціонального використання, відтворення та  охорони природних ресурсів поводження з відходами (крім поводження з радіоактивними відходами), пестицидами та агрохімікатами; екологічної безпеки, заповідної справи, формування, збереження та використання екологічної мережі.

      .row.pt-2
        .col-xl-5.col-lg-6
          .b-contacts-person.row.align-items-center
            .col-lg-auto
              .b-contacts-person__img
                img.img-scale(src="assets/media/content/b-contacts/face.jpg", alt="фото")
            .col-lg
              .b-contacts-person__main
                .b-contacts-person__name Натрус Сергій Петрович
                .b-contacts-person__category Директор департаменту екології та природних ресурсів

          .b-contacts__section
            .b-contacts__title Гаряча лінія:
            a.b-contacts__phone(href="tel:08005096201") 0 800 509 62 01
            .b-contacts__item Цілодобово


          .b-contacts__section
            .b-contacts__title.pb-2 Контакти прес-служби:
            .b-contacts__item
              a.b-contacts__link(href="tel:+380956442525") +380 (95) 644-25-25;
            .b-contacts__item
              a.b-contacts__link(href="tel:+380625006213") +380 (62) 500-62-13 (факс);
            .b-contacts__item
              a.b-contacts__email(href="mailto:eco.d@dn.gov.ua") eco.d@dn.gov.ua

          .b-contacts__section
            .b-contacts__title Адреса:
            .b-contacts__item.pb-2 м. Луганськ, вул. Б.Хмельницького, 6
            .b-contacts__item Пн-Пт, з 9.00 до 18.00

        .col-xl-7.col-lg-6
          .b-contacts__map#map-main


      form.b-contacts-form.ui-form.needs-validation(novalidate)
        .form-group
          .ui-input
            label.ui-input__label(for="contactTitle")
              span.ui-input__label-content Тема
            input.ui-input__field.form-control#contactTitle(type="text" required)
            .invalid-feedback Поле не заповненне

        .row
          .col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="contactName")
                  span.ui-input__label-content Iм'я
                input.ui-input__field.form-control#contactName(type="text" required)
                .invalid-feedback Поле не заповненне

          .col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="contactEmail")
                  span.ui-input__label-content E-mail
                input.ui-input__field.form-control#contactEmail(type="email" required)
                .invalid-feedback Поле не заповненне

        .form-group
          .ui-input.ui-input_r-4
            label.ui-input__label(for="contactText")
              span.ui-input__label-content Суть Вашого звернення
            textarea.ui-input__field.form-control#contactText(required)


        .row.justify-content-end.align-items-center
          .col-sm-auto
            .custom-control.custom-checkbox
              input.custom-control-input(type="checkbox"  required)#agreement
              label.custom-control-label(for="agreement") Я згоден з правилами звернень громадян та обробки моїх даних
          .col-sm-auto
            button.btn.btn.btn-secondary.mt-3.mt-sm-0 Відправити

      // end .b-contacts-form
      |
      |

  // end .b-contacts
  |
  |
