/*------------------------------------------------------------------

[TABLE OF CONTENTS]

- GLOBAL
- GUI
  -- Titles
  -- Paragrafs
  -- Buttons
  -- List
  -- Forms
    -- Radio/check customisation
  -- Alert
  -- Tables
  -- Blockquote
  -- Sections
  -- Other
- COMPONENTS
- FOOTER
-------------------------------------------------------------------*/

/* ======= GLOBAL ======= */

html,body {
  height: 100%;
}

body {
  font-family: "Proba Pro";
  color: $color-main;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.page-inner {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.l-theme {
  position: relative;

  max-width: 1920px;
  margin: auto;
}

.l-main-content {
}

.l-aside {
}

a {
  transition: all .3s;
}

/* ======= GUI ======= */

/* Color */

  .color-main {
    color: $color-main;
  }
  .bg-main {
    background-color: $color-main;
  }
  .fill-main {
    fill: $color-main;
  }

  .color-light {
    color: $color-light;
  }
  .bg-light {
    background-color: $color-light;
  }
  .fill-light {
    fill: $color-light;
  }

  .color-gray {
    color: $color-gray;
  }
  .bg-gray {
    background-color: $color-gray;
  }
  .fill-gray {
    fill: $color-gray;
  }

  .color-green {
    color: $color-green;
  }
  .bg-green {
    background-color: $color-green;
  }
  .fill-green {
    fill: $color-green;
  }

  .color-orange {
    color: $color-orange;
  }
  .bg-orange {
    background-color: $color-orange;
  }
  .fill-orange {
    fill: $color-orange;
  }

  .color-red {
    color: $color-red;
  }
  .bg-red {
    background-color: $color-red;
  }
  .fill-red {
    fill: $color-red;
  }


  .svg-fill-blue {
    fill: $color-blue;
  }

/* UI */

.ui-title-page {
  margin-top: 0;
  color: $color-main;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
  letter-spacing: -0.037rem;
}

.ui-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.025rem;

  @include media-breakpoint-down(sm) {
  }
}

.ui-title-block {
  margin-bottom: 40px;
  .ui-title {
    margin-bottom: 0;
  }
}

.ui-title-inner {
  font-weight: 600;
  line-height: 1.44445;
  font-size: 1.125rem;
}

.ui-title-links {
  padding-top: 5px;
  &__item {
    font-weight: 600;
    color: $color-light;
    margin-left: 20px;
    border-bottom: 3px solid #08183b;
    padding: 0 3px 12px;
    display: inline-block;
    &:hover {
      color: $color-main;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__item {
      margin-left: 0;
      padding-right: 2vw;
      font-size: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.ui-slider {
  &_dots_sm {
    .slick-dots {
      text-align: right;
      button {
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        opacity: 0.5;
        border-radius: 50%;
        padding: 0;
        margin: 0 3px;
      }
      .slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &_dots_sm {
      .slick-dots {
        text-align: center;
      }
    }
  }
}

.ui-wrap-slider {
  margin-left: -15px;
  margin-right: -15px;

  @include media-breakpoint-between(md, lg) {
    &_w-arr {
      margin-left: 78px;
      margin-right: 78px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: -7px;
    margin-right: -7px;
  }
}

.ui-info {
  font-weight: 600;
  line-height: 1.42857;
}
.ui-meta {
  color: $color-light;
  font-size: 0.75rem;
  line-height: 1.42857;
}
.ui-label {
  font-weight: 400;
  line-height: 1.714;
}

.ui-accordion {
  border-radius: 4px;
  &__card {
    background-color: #FFF;
    &:after {
      content: '';
      margin: -1px 30px 0;
      border-bottom: 1px solid #DFE6FF;
      display: block;
      position: relative;
      z-index: 1;
    }
  }
  &__link {
    width: 100%;
    border: none;
    background-color: transparent;
    position: relative;
    text-align: left;
    min-height: 30px;
    color: #262626;
    font-size: 0.875rem;
    padding: 18px 20px;
    transition: all .3s;
    .ic {
      position: absolute;
      top: 12px;
      right: 20px;
      width: 30px;
      height: 30px;
      background-color: $color-light;
      transition: all .3s;
      border-radius: 50%;
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        transition: all .3s;
        top: calc(50% - 1px);
        left: calc(50% - 6px);
      }
      &:after {
        transform: rotate(90deg);
      }
    }
    &[aria-expanded="false"] {
      background-color: $color-light;
      .ic {
        &:after,
        &:before {
          background-color: #FFF;
        }
        &:after {
          transform: rotate(0);
        }
      }
    }
    &:focus {
      outline: none;
      box-shadow: inset 0px 1px 10px 0 #a7a7a7;
    }
  }
  &__body {
    padding: 12px 20px 30px;
    margin-bottom: 3px;
  }
}

.ui-upload {
  &__btn {}
  &__note {
    padding-left: 0;
    color: $color-light;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.ui-status {
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 1.2rem;
  border: 2px solid transparent;
  position: relative;
  background-color: transparent;
  padding: 0 0 0 12px;
  &__group {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: 13px;
  }
  &__ic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.2;
    display: block;
  }
  .ic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  + .ui-status {
    margin-left: 33px;
  }


  @include media-breakpoint-down(sm) {
    + .ui-status {
      margin-left: 25px;
    }
  }
}

button.ui-status,
a.ui-status {
  transition: all .3s;
  &__ic {}
  &:hover {
    color: $color-main;
    border-color: rgba(46, 91, 255, 0.15);
    background-color: #ffffff;
  }
}

/* User content */

.user-content {
  padding-bottom: 70px;
  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 3.5rem;
  }
  h2 {
    margin-top: 43px;
    margin-left: 70px;
    font-weight: 700;
    font-size: 1.5rem;
  }

  ul {
    margin-top: 22px;
    margin-bottom: 37px;
    padding-left: 70px;
    list-style-type: none;
    font-size: 1.125rem;
    li {
      margin-bottom: 18px;
      padding-left: 47px;
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 20px;
        top: 10px;
      }
    }
  }

  ol {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    list-style-type: none;
    counter-reset: list;
    li {
      margin-bottom: 10px;
      position: relative;
      &:before {
        display: block;
        position: absolute;
        left: -41px;
        top: 0;
        padding-right: 5px;
        content: counters(list,".") ". ";
        counter-increment: list;
      }
    }
  }
  & > ol {
    & > li {
      margin-left: 96px;
      &:before {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -0.6px;
        left: -96px;
      }
    }
  }

  p {
    margin-bottom: 0;
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    line-height: 1.334;
    text-indent: 28px;
     + p {
      margin-top: 24px;
    }
  }

  a {
    font-weight: 600;
  }

  @include media-breakpoint-down(sm) {
    h2 {
      margin-left: 0;
    }
    ul {
      padding-left: 0;
    }
    & > ol {
      & > li {
        margin-left: 80px;
        &:before {
          left: -76px;
        }
      }
    }
  }
}


/* Tabs */

.ui-nav-default {
  .nav-link {
    color: $color-gray;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.012rem;
    padding: 0 0 10px;
    &.active {
      color: $color-main;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.025rem;
    }
  }
  .nav-item + .nav-item {
    padding-left: 20px;
  }
}



/* Images */

.img-scale {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: inherit;
  height: inherit;
}
.img-select {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  margin-right: 40px;
}
.filter-option-inner-inner {
  .img-select {
    display: none;
  }
}


/* Buttons */
.btn-primary {
  color: $color-gray;
}
.btn-secondary {
  color: #1d1d1b;
}
.btn-white {
  color: #FFF;
  border-color: #FFF;
  &:hover {
    background-color: #FFF;
  }
}
.btn-default {
  background-color: $color-gray;
  .ic {
    fill: #c7ccd1;
    margin-right: -8px;
  }
  &:hover {
    opacity: 0.5;
    background-color: $color-gray;
    color: inherit;
  }
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.btn-cancel {
  position: relative;
  padding-right: 48px;
  .ic {
    position: absolute;
    right: 12px;
    top: calc(50% - 12px);
    margin-left: 10px;
    fill: $color-main;
    transition: all .3s;
  }
  &:hover {
    opacity: 1;
    .ic {
      fill: #e53935;
    }
  }
}

/* Lists */

.list {
  margin-bottom: 40px;
  padding-left: 0;

  list-style-type: none;
  li {
    position: relative;

    margin-bottom: 5px;
    padding-left: 30px;
    &:before {
      position: absolute;
      top: 5px;
      left: 1px;

      font-weight: 400;
      line-height: 1;
    }
    & > a {
      color: #777;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.list-num {
  counter-reset: list;
  & li:before {
    display: inline-block;

    font-weight: 700;

    content: counter(list) '. ';
    counter-increment: list;
  }
}


/* Forms */

select:focus {
  outline-style: none;
}
input {
  @include placeholder {
    color: #fff;
  }
}

.ui-select {
  margin-bottom: 0;
  height: auto;
  color: $color-main;
  font-size: 1rem;
  font-weight: 600;
  padding: .7rem 25px .7rem 15px;
  text-transform: inherit;
  background-color: $color-gray;
  border: 1px solid $color-gray;
  border-radius: 0.25rem;
  letter-spacing: 0;

  &[aria-expanded="true"] {
    background-color: #FFF;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
  }

  &.form-control {
    font-weight: 400;
  }
}

.ui-select_no-arr + .btn {
  &:after {
    content: none;
  }
}


.ui-form {
  margin-top: 10px;
  &__note {
    font-weight: 400;
    min-height: 14px;
    text-align: left;
  }
  &__footer {
    margin-top: 20px;
    padding-top: 16px;
    text-align: center;
    border-top: 1px solid #e8e8e8;
  }
  .form-group {
    margin-bottom: 24px;
  }
  .form-control {
    &[readonly] {
      background: transparent;
      border-color: transparent;
      color: rgba(38, 38, 38, 0.5);
      padding-left: 0;
    }
    @include placeholder {
      color: rgba(176, 176, 176, 0.6);
    }
  }
  .ui-upload {
    margin-bottom: 35px;
    margin-top: 5px;
  }


  @include media-breakpoint-down(md) {
    .ui-upload {
      text-align: center;
      margin-top: 0;
    }
    .btn {
      width: 100%;
    }
    .ui-upload__info {
      margin-top: 5px;
    }
  }
}

.ui-input {
  position: relative;
  display: block;
  transition: all .3s;
  text-align: left;
  &_r-4 {
    height: 8.5rem;
    textarea.form-control {
      height: inherit;
    }
  }

  &__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    padding: 1rem;
    color: $color-main;
    font-size: 1rem;
    display: block;
    border: 1px solid $color-gray;
    border-radius: 0.25rem;
    background-color: $color-gray;
    -webkit-appearance: none;
    &:hover {
      border-color: #B3BBC3;
    }
    &:focus {
      box-shadow: none;
      background-color: #FFF;
      border-color: $color-primary;
    }
  }

  &__label {
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    padding-left: 1rem;
    &:hover & {
      &__field {
        border-color: #B3BBC3;
      }
    }
  }

  &__label-content {
    transform-origin: 0% 50%;
    transition: transform 0.3s, color 0.3s;
    text-rendering: geometricPrecision;
    color: $color-main;
    font-size: 1rem;
    line-height: 4rem;
    display: block;
    width: 100%;
  }

  .disabled & {
    &__label-content {
      color: $color-gray;
    }
  }

  textarea.form-control {
    height: 100%;
  }
}


.ui-input__field:focus + .ui-input__label .ui-input__label-content,
.ui-input_filled .ui-input__label .ui-input__label-content {
  color: $color-light;
  font-size: 0.875rem;
  transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}

.ui-upload {
  &__info {
    color: $color-main;
  }
  &__label {
    color: $color-light;
    font-size: 0.875rem;
  }
}


/* Alert */

.alert-container {
  position: relative;
}
.alert {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 30px;
  padding-left: 56px;
  .close {
    transition: all .3s;
    opacity: 1;
    padding: 0;
    right: 4px;
    left: auto;
    top: 8px;
  }
  .ic-close {
    fill: #fff;
  }
  .ic {
    fill: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: 14px;
  }
}
.alert-success {
  background-color: #71bc90;
  border-color: #71bc90;
  color: #dde1e6;
}

/* Blockquote */

blockquote cite {
  display: block;

  font-style: normal;
}

/* Sections */

.section-area {
  position: relative;
}
.section-default {
  position: relative;
  padding-top: 35px;
}

/* Other */

.ic-rot_90 {
  transform: rotate(90deg);
}
.ic-rot_-90 {
  transform: rotate(-90deg);
}
.ic-rot_180 {
  transform: rotate(180deg);
}

.pruning {
  overflow: hidden;
}

.parallax {
  transform: none;

  background-repeat: no-repeat;
  background-attachment: fixed;
}


.br {
  display: block;
}

.no-br {
  white-space: nowrap;
}



.md_hidden_3-col {
  @include media-breakpoint-only(lg) {
    > * {
      &:nth-child(3) {
        display: none;
      }
    }
  }
}

.md_hidden_4-col {
  @include media-breakpoint-only(lg) {
    > * {
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

/* ======= COMPONENTS ======= */

