mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.nav-item.active
      a.main-menu__link.nav-link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Залишити<br>зверення
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Перевірити<br>виконання
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Заповідні<br>зони
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Екошари<br>даних
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Про проект
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Контакти


  // end navig
