mixin b-areas(img, name)

  a.b-areas(href="#" class!=attributes.class)
    img.b-areas__img.img-scale(src="assets/media/content/b-areas/" + img + ".jpg", alt="foto")

    .b-areas__title= name

  // end .b-areas
  |
  |
