.b-areas {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  transition: all .3s;
  width: 100%;
  min-height: 8rem;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.15) 100%);
  }
  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
  }
  &__title {
    position: relative;
    z-index: 2;
    padding-left: 30px;
    padding-right: 60px;
    z-index: 1;
    color: $color-gray;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 25px;
  }
}
