mixin b-form-appeal()

  form.b-form-appeal.ui-form.needs-validation(novalidate)
    .form-group
      .ui-input
        label.ui-input__label(for="treatmentTitle")
          span.ui-input__label-content Назва об'єкту
        input.ui-input__field.form-control#treatmentTitle(type="text" required)
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="treatmentText")
          span.ui-input__label-content Опис порушення
        textarea.ui-input__field.form-control#treatmentText(required)

    .form-group
      .ui-input
        label.ui-input__label(for="treatmentAddress")
          span.ui-input__label-content Адреса порушення
        input.ui-input__field.form-control#treatmentAddress(type="text" required)
        .invalid-feedback Поле не заповненне

    .row
      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="treatmentName")
              span.ui-input__label-content Ваше Iм'я
            input.ui-input__field.form-control#treatmentName(type="text" required)
            .invalid-feedback Поле не заповненне

      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="treatmentEmail")
              span.ui-input__label-content E-mail
            input.ui-input__field.form-control#treatmentEmail(type="email" required)
            .invalid-feedback Поле не заповненне

    .row
      .col-lg-10
        .form-group
          .b-form-appeal__map#map-main
      .b-form-appeal__note.col-lg-2 Виберіть об'єкт на карті. Якщо ви залишите адреса не заповненими, то він буде автоматично згенеровані з вашого місця розташування

    .form-group
      .ui-upload.js-upload.row
        .col-auto
          button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Додайте фото
        .ui-upload__note.col Додайте фото.<br> Максимальний розмір файлу — 5 Мб
    .js-upload-container


    .row.justify-content-end.align-items-center
      .col-sm-auto
        .custom-control.custom-checkbox
          input.custom-control-input(type="checkbox" required)#agreement
          label.custom-control-label(for="agreement") Я згоден з правилами звернень громадян та обробки моїх даних
      .col-sm-auto
        button.btn.btn.btn-secondary.mt-3.mt-sm-0 Додати

  // end .b-form-appeal
  |
  |

